<ion-content>
  <!-- <ion-card class="ion-text-center">
    <ion-card-content>
      <qrcode [qrdata]="scanResult" [width]="300" [errorCorrectionLevel]="'M'"></qrcode>
    </ion-card-content>
  </ion-card> -->
  <ion-button expand="block" class="ion-margin" (click)="startScan()">Escanear Codigo QR</ion-button>

  <div class="container-scanner-info">
    <p>Número de muestras {{numeroMuestras}}</p>
    <p>Estado {{descripcionMuestraInicial}}</p>
  </div>

  <ion-list *ngFor="let item of muestrasTomadas; let i = index">
    <ion-item>
      <ion-label>{{item}}</ion-label>
      <ion-button (click)="eliminarMuestra(i)" color="danger" style="margin-right: 10px;" >Eliminar</ion-button>
      <ion-button (click)="verDetalleMuestra(item)" color="warning">Detalles</ion-button>
    </ion-item>
  </ion-list>

  <ion-button id="present-alert" color="success" expand="block" class="ion-margin fixed-button" (click)="save()">Guardar</ion-button>

  <!-- <ion-alert trigger="present-alert" header="Alert!" [buttons]="alertButtons" (didDismiss)="setResult($event)"></ion-alert> -->
</ion-content>
