.toolbar-logo {
  width: 100%;
  display: flex;
  justify-content: end;
}

.logo {
  width: 100px;
  height: 20px;
}

.contenedor-bienvenida {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.contenedor-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ion-card {
  --background: #A4C3C5;
  --color: #9efff0;
}

ion-card-title {
  --color: #f7f7f7;
}

ion-card-subtitle {
  --color: #ffffff;
}

