<ion-header [translucent]="true" class="login">
  <div class="container-logo">
    <ion-img class="logo" src="../../../assets/LogoAgrosavia.png"></ion-img>
  </div>
  <div class="container-data">
    <ion-item>
      <ion-input 
                label="Usuario" 
                labelPlacement="floating" 
                placeholder="Ingrese Usuario">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Contraseña" labelPlacement="floating" placeholder="Ingrese Contraseña"></ion-input>
    </ion-item>
  </div>
  <div class="container-boton">
    <ion-button (click)="login()"  expand="block">Iniciar Sesión</ion-button>
  </div>
</ion-header>