<ion-list>
  <ion-item>
    <ion-label>Fecha de recepción:</ion-label>
    <ion-text>{{detalleMuestra.data.fechaRecepcion}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>Quien recepciono</ion-label>
    <ion-text>{{detalleMuestra.data.recibidoPor}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>Fecha entrega pactada:</ion-label>
    <ion-text>{{detalleMuestra.data.fechaRecepcion}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>Otras fechas pactadas:</ion-label>
    <ion-text>{{detalleMuestra.data.fechaRecepcion}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>Numero de solicitud:</ion-label>
    <ion-text>{{detalleMuestra.data.id}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>Departamento:</ion-label>
    <ion-text>{{detalleMuestra.data.departamento}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>Municipio:</ion-label>
    <ion-text>{{detalleMuestra.data.municipio}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>Análisis:</ion-label>
    <ion-text>{{detalleMuestra.data.estado}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>Comentario:</ion-label>
    <ion-text>{{detalleMuestra.data.fechaRecepcion}}</ion-text>
  </ion-item>
</ion-list>